$header_full_height: 330px;
$header_small_height: 120px;
$keywords_banner_height: 40px;
$nav_height: 70px;
$color1: rgb(253, 97, 7);
$color1_opacity: rgba(253, 97, 7, 0.7);
$color2: rgb(34, 182, 4);
$color2_opacity: rgba(34, 182, 4, 0.7);
$color3: rgb(153, 48, 10);
$color_second_banner: rgb(253, 246, 235);
$color_background_body: white;
